.Navbar {
    background-color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

#nform {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    z-index: 10;
    text-align: center;
    flex-direction: column;
    position: relative;

}

.name-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-me  {
    display: flex;
    justify-content: center;
    align-items: center;
}

